body {
	background: #1a1a1a;
	color: #eee;
	font-family: 'Poiret One', cursive, Arial, serif;
	font-size: 0.9em;
}

header {
	background: #202020;
	padding: 30px;

	h1 {
		font-family: 'Pacifico', cursive, Arial, serif;
		text-align: center;
	}
	
}



main {
	position: relative;
	overflow: hidden !important;

	> section {
		width: 100%;
		text-align: center;
		background: #2f2f2f;
		display: table;
		box-sizing: border-box;

		&.title {
			box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.8);
		}

		&.footer {
			box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.8);
		}

		.holder {
			display: table-cell;
			vertical-align: middle;
		}

	}

	article.container {
		padding: 30px;
		position: relative;
		box-sizing: border-box;
		margin: 0 auto;

		.frame-outer {

			.frame-mid {
				position: relative;

				.frame-inner {
					width: 100%;
					position: relative;

					ul.image-list {
						position: relative;
						padding: 0;
			    		margin: 0;

						li {
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;

							img {
								width: 100%;
								height: auto;
								border: 5px solid #000;
								-webkit-transition: opacity 1.5s ease-in-out;
								-moz-transition: opacity 1.5s ease-in-out;
								-o-transition: opacity 1.5s ease-in-out;
								transition: opacity 1.5s ease-in-out;
								opacity: 0;
								box-sizing: border-box;

								&.active {
									opacity: 1;
								}

							}

						}

					}

				}

				nav.controls {
					position: absolute;
					bottom: 0px;

					span {
						font-weight: bold;
						color: #333;
						display: inline-block;
						padding: 8px;
						background-color: #13e6b1;
						margin-right: 6px;
						cursor: pointer;
						-webkit-transition: all 1.5s;
						-moz-transition: all 1.5s;
						-o-transition: all 1.5s;
						transition: all 1.5s;

						&.selected {
							background-color: #D9FAF8;
						}

						&:hover {
							background-color: #D9FAF8;
						}

					}

				}

			}

		}

	}

}

@media only screen and (min-width: 460px) {

	body {
		font-size: 1.2em;
	}

	main {

		article.container {

			.frame-outer {
				/* width: 640px; */
				margin: 0 auto;

				.frame-mid {
					width: 50%;
					margin: 0 auto;

					.frame-inner {
						/* margin: 0 auto; */

						ul.image-list {

							li {

								img {
									width: auto;
								}

							}

						}

					}

					nav.controls {

						span {

						}

					}

				}

			}

		}

	}

}

@media only screen and (min-width: 760px) {



}