body {
	background: #1a1a1a;
	color: #eee;
	font-family: 'Poiret One', cursive, Arial, serif;
	font-size: 0.9em;
	overflow: hidden !important;
}

header {
	width: 100%;
	position: absolute;
	top: 0px;
	background-image: url(../images/pyga.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* background-size: 100% 100%; */
	z-index: 3;
	overflow: hidden !important;
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
	-o-transition: top 1s;
	transition: top 1s;

	.banner {
		text-align: center;
		background: rgba(0, 0, 0, 0.7);
		padding: 30px 0;
		position: relative;
		top: 26%;

		h1 {
			font-family: 'Pacifico', cursive, Arial, serif;
			margin-bottom: 20px;
		}

		#enter {
			width: 50px;
			height: 50px;
			position: relative;
			margin: 0 auto;
			cursor: pointer;

			> span {
				display: block;
				width: 45px;
				height: 45px;
				position: relative;
				top: 0px;
				background-image: url(../images/enter-arrow.png);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				-webkit-transition: top 0.3s;
				-moz-transition: top 0.3s;
				-o-transition: top 0.3s;
				transition: top 0.3s;

				&:hover {
					top: 5px;
				}

			}

		}

	}
	
}

main {
	position: relative;
	overflow: hidden !important;

	> section {
		width: 100%;
		text-align: center;
		background: #2f2f2f;
		display: table;
		box-sizing: border-box;

		&.title {
			box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.8);
		}

		&.footer {
			box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.8);
		}

		.holder {
			display: table-cell;
			vertical-align: middle;
		}

	}

	article.container {
		padding: 30px;
		position: relative;
		box-sizing: border-box;
		margin: 0 auto;

		.frame-outer {

			.frame-mid {
				position: relative;

				.frame-inner {
					width: 100%;
					position: relative;

					ul.image-list {
						position: relative;
						padding: 0;
			    		margin: 0;

						li {
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;

							img {
								width: 100%;
								height: auto;
								border: 5px solid #000;
								-webkit-transition: opacity 1.5s ease-in-out;
								-moz-transition: opacity 1.5s ease-in-out;
								-o-transition: opacity 1.5s ease-in-out;
								transition: opacity 1.5s ease-in-out;
								opacity: 0;
								box-sizing: border-box;

								&.active {
									opacity: 1;
								}

							}

						}

					}

				}

				.controls-wrapper {
					width: 100%;
					position: absolute;
					bottom: 0px;
					overflow-x: scroll;

					.navigator {
						display: none;
					}

				}

				nav.controls {
					width: 686px;

					span {
						font-weight: bold;
						color: #333;
						text-align: center;
						width: 58px;
						display: inline-block;
						padding: 8px 0;
						background-color: #13e6b1;
						margin-right: 6px;
						box-sizing: border-box;
						cursor: pointer;
						-webkit-transition: all 1s;
						-moz-transition: all 1s;
						-o-transition: all 1s;
						transition: all 1s;

						&.selected {
							background-color: #D9FAF8;
						}

						&:hover {
							background-color: #D9FAF8;
						}

					}

				}

			}

		}

	}

}

@media only screen and (min-width: 460px) {

	body {
		font-size: 1.2em;
	}

	header {

		.banner {
			padding: 60px 0;

			h1 {

			}

		}

	}

	main {

		article.container {

			.frame-outer {
				margin: 0 auto;

				.frame-mid {
					width: 420px;
					margin: 0 auto;

					.frame-inner {

						ul.image-list {

							li {

								img {
									width: auto;
								}

							}

						}

					}

					.controls-wrapper {
						overflow: hidden;

						.navigator {
							display: block;
							width: 30px;
							height: 42px;
							background: rgba(0, 0, 0, 0.6); /* For browsers that do not support gradients */
							position: absolute;
							top: 0px;
							cursor: pointer;
							z-index: 1;
							-webkit-transition: width 0.5s;
							-moz-transition: width 0.5s;
							-o-transition: width 0.5s;
							transition: width 0.5s;

							> span {
								display: block;
								width: 30px;
								height: 42px;
								z-index: 2;
								background-repeat: no-repeat;
								background-size: 14px 32px;
							}

							&#nav-left {
								left: 0px;
								background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
							    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
							    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
							    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Standard syntax */
							    display: none;

								> span {
									background-image: url(../images/arrow-left.png);
									background-position: 4px 5px;
								}

							}

							&#nav-right {
								right: 0px;
								background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
							    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
							    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
							    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Standard syntax */

								> span {
									background-image: url(../images/arrow-right.png);
									background-position: 12px 5px;
									position: absolute;
									right: 4px;
								}

							}

							&:hover {
								width: 50px;
							}

						}

					}

					nav.controls {
						width: 822px;
						position: relative;
						left: 0px;
						-webkit-transition: left 1.5s;
						-moz-transition: left 1.5s;
						-o-transition: left 1.5s;
						transition: left 1.5s;

						span {
							width: 70px;
						}

					}

				}

			}

		}

	}

}

@media only screen and (min-width: 768px) {

	main {

		article.container {

			.frame-outer {

				.frame-mid {
					width: 720px;
				}

			}

		}

	}

}